@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);


.form-signin
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
	margin-bottom: 10px;
}
.form-signin .checkbox
{
	font-weight: normal;
}
.form-signin .form-control
{
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus
{
	z-index: 2;
}
.form-signin input[type="text"]
{
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.account-wall
{
	margin-top: 60px;
    margin-bottom: 10px;
	padding: 20px 0px 20px 0px;

	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align: left;
}

.account-wall img{
	display:block;
	margin: 0 auto;
}
.login-title
{
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}

.navbar-static-top{
    margin-bottom: 19px;
}
.navbar-nav li a{
    line-height: 50px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url(../img/bg.png);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.table {
    background-color: white;
}
.dropped_cell {
    background-color: orange;
}

.selfduty_cell {
    background-color: #46C7C7;
}

.noduty_cell {
    background-color: gray;
}

.yellow_cell {
    background-color: #FFF380;
}

.white_cell {
    background-color: white;
}

.selected_cell {
    background-color: #8FBC8F;
}

.blank_row {
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

.table_header {
    background-color: #EAC117;
}

.timeslot {
    width: 5.2%;
}

.breakword{
	word-break:break-all; 
	word-wrap: break-word;
}

a {
    color:black;
}

td {
    text-align: center;
}

h1, h2 { 
	font-family: 'Roboto Condensed', sans-serif;
	font-size:45px;
	font-weight:400;
	color:#333333;
}

h1 { 
	border-bottom: 2px solid #f8f8f8; 
}

.nav > li > a {
	font-size:15px;
}

.muted { color: #777; }

hr {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #eee;
}

/* Tablets - Desktops */
@media (min-width: 768px) {
    .logo { max-height: 50px; }
}

/* Mobile device */
@media (max-width: 768px) {
    .logo { max-height: 35px; content:url("../img/nussu-commit-logo-reduced.png"); }
}

th.unsorted::after {
  content:"\E119";
  font-family:"Glyphicons Halflings";
}

th.sorter-false::after {
  content:none;
}

th.ascending {
  background-color: #e0e0e0;
}

th.descending {
  background-color: #e0e0e0;
}

th.ascending::after {
  content:"\E094 A-Z";
  font-family:"Glyphicons Halflings";
}

th.descending::after {
  content:"\E093 Z-A";
  font-family:"Glyphicons Halflings";
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid gray;
}

.tablesorter > thead > tr > th {
	vertical-align: middle;
}

.edittable{
  font-size: 12px;
}